.button {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 36px;
    border: 2px solid black;
}

.home {
    background-color: rgba(149, 234, 255, 0.795);
    font-size:20px;
    font-weight: bold;
}

.paprikash {
    background-color: rgba(255, 0, 0, 0.3);
}

.tea {
    background-color: rgba(161, 124, 90, 0.5);
}

.fudge {
    background-color: rgb(253, 229, 147);
}

.links {
    margin: 5px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: "Courier New", Helvetica, sans-serif;
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
    color: white;
}

h3 {
    background-color: rgba(0, 255, 0, 0.3);
    margin: 0;
    border: 2px solid black;
}

.content {
    background-color:rgba(0, 255, 0, 0.1);
    margin: 0;
    padding: 20px;
}
